
tmp
*.bundle

!target/release
release/*
!release/*.so

target/debug
target/release/build
target/release/.fingerprint
target/release/debug
target/release/deps
target/release/examples
target/release/incremental

.rustc_info.json
.cargo-lock
*.d
*.TAG
